@import "@/assets/variables.less";
@import "@/assets/theme.less";

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--p-bg-color);
    /*transition: background-color @transition-time;*/
}

.justify-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
