@import "@/assets/variables.less";

:root[theme="light"]{
    --nav-bg-color: @nav-bg-color-light;
    --p-bg-color:@p-bg-color-light;
    --p-text-color:@p-text-color-light;
    --line-color:@line-color-light;
    --label-bg-color:@label-bg-color-light;
    --box-shadow-color:@box-shadow-color-light;
    --backdrop-bgColor:@backdrop-bgColor-light;
}
:root[theme="dark"]{
    --nav-bg-color: @nav-bg-color-dark;
    --p-bg-color:@p-bg-color-dark;
    --p-text-color:@p-text-color-dark;
    --line-color:@line-color-dark;
    --label-bg-color:@label-bg-color-dark;
    --box-shadow-color:@box-shadow-color-dark;
    --backdrop-bgColor:@backdrop-bgColor-dark;
}
