/* variables */
//nav
@nav-height:60px;
@nav-bg-color-light: #fdfdfd;
@nav-bg-color-dark: #1b1b1f;
// bg-color
@p-bg-color-light: #f4f4f5;
@p-bg-color-dark: #161618;
// text
@p-text-color-light: #171717;
@p-text-color-dark: #d8d8d8;
