/* variables */
//nav
@nav-height:60px;
@nav-bg-color-light: #fdfdfd;
@nav-bg-color-dark: #1b1b1f;
// bg-color
@p-bg-color-light: #f4f4f5;
@p-bg-color-dark: #161618;
// text
@p-text-color-light: #191919;
@p-text-color-dark: #e8e8e8;
// line color
@line-color-light: #ccc;
@line-color-dark: #3e3e3e;
//label bg color
@label-bg-color-light: rgba(168, 168, 168, 0.51);
@label-bg-color-dark: rgba(62, 62, 62, 0.67);
// box shadow
@box-shadow-color-light: rgba(165, 165, 165, 0.3);
@box-shadow-color-dark: rgba(11, 11, 11, 0.4);
//满屏 backdrop颜色
@backdrop-bgColor-light: #c8d1da66;
@backdrop-bgColor-dark: #21283066;
